{% extends "base.html" %}
{% load static %}

    {% block title %}
    <div>
      <h3 class="float-md-start mb-0">Encode</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="/key/decode">Decode</a>
        <!--<a class="nav-link" href="#">das Spacing</a>
        <a class="nav-link" href="#">shit?</a>-->
      </nav>
    </div>
    {% endblock %}
    {% block content %}
    <h1>Encode your secrets</h1>
    <p class="lead">
    <form action="{% url 'create_secretnote' %}" method="post">
    {% csrf_token %}
    <input id="message" type="text" name="message" value="" autocomplete="off" auto>
      <br><br>
    <input type="submit" class="btn btn-lg btn-secondary fw-bold border-white bg-white" value="Nimm mein Geheimnis">
</form>
    {% endblock %}

    {% block script %}
    {% endblock %}