{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hier kann man überweisungen ansetzen</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bankmain.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<!-- navbar
<nav class="navbar navbar-expand-lg fixed-top ">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-4">
            <li class="nav-item">
                <a class="nav-link" data-value="about" href="#">About</a></li>
            <li class="nav-item">
                <a class="nav-link " data-value="portfolio" href="#">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " data-value="blog" href="#">Blog</a></li>
            <li class="nav-item">
                <a class="nav-link " data-value="team" href="#"> Team</a></li>
            <li class="nav-item">
                <a class="nav-link " data-value="contact" href="#">Contact</a></li>
        </ul>
    </div>
</nav>
-->

<a id="statusmsg">{{ statusmsg }}</a>
<h1>Überweisung</h1>
<p>Hallo {{ user.last_name }} {{ user.first_name }}</p>


<p>Konto Transaktion von</p>
<label for="accounts">Wähle dein Konto:</label>
<select name="accounts" id="iban_from">
    {% for account in accounts %}
    <option value=account.name>{{ account.iban }}</option>
    {% endfor %}
</select>
<input type="hidden" id="created_by" name="created_by" val="{{ user.id }}" >
<p>Zielkonto</p>
<p><input type="text" id="iban_to" name="iban_to"></p>
<p>Verwendungszweck</p>
<p><input type="text" id="verwendungszweck" name="verwendungszweck"> </p>

<p>überweisungsbetrag</p>
<input type="text" id="amount" name="amount">

<input type="submit" id="action" value="Überweisung durchführen.">
<!--
<header>
    <div class="overlay"></div>
     <div class="container">
         <div class="description">
             <h1>Wilkommen bei der Pogbbank</h1>
              <p>dies ist eine Landingpage von  der man Überweisungen  aus schicken kann</p>
             <button class="btn btn-outline-secondary btn-lg">MEHR STUFF</button>
         </div>
     </div>
</header>
-->
{% load pipeline %}
{% javascript 'jscripts' %}


<script src="{% static 'js/maketrransfer.js' %}" type="text/javascript">
</script>
<script src="{% static 'js/templatejs.js' %}" type="text/javascript">
</script>
<!-- <link href="path_to_staticfile_with_script.js"> -->


</body>
</html>