{% extends "bankbbase.html" %}
{% load static %}
{% block title%}
<h2>Überweisungen bei PogBank</h2>
{% endblock%}
{% block main %}
<!-- das ist der Kombinierte div von dem überweisungsfomular und der Anzeige der Konten -->
<!-- er ist eine "Reihe" im "haupt-div" container -->
<div class="row g-3">
  <!-- der container auf der rechten Seite(Konten/Transfers)-->
  <div class="col-md-5 col-lg-4 order-md-last">
    <!-- oberstes Element ist die Überschrift -->
    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-muted">Deine Konten</span>
      <span class="badge bg-secondary rounded-pill">1</span>
    </h4>
    <!-- dieses Element gibt eine liste an deren Elemente mit <li></li> spezifiziert werden können -->
    <ul class="list-group mb-3">
      {% for account in accounts %}
      <li class="list-group-item d-flex justify-content-between lh-sm">
        <div>
          <h6 class="my-0">{{account.name}}</h6>
          <small class="text-muted">{{account.iban}}</small>
        </div>
        <span class="text-muted">€{{account.balance|floatformat:2}}</span>
      </li>
      {% endfor %}
    </ul>
    <div class="input-group">
           <a href="{%url 'loadhome'%}" type="submit" class="btn btn-secondary">Zur Übersicht</a>
         </div>
  </div>
  <!-- linke seite ehemals Bezahlformular jetzt Übberweisungsformular-->
  <div class="col-md-7 col-lg-8">
    <h4 class="mb-3">Überweisungsformular</h4>
    <!--<form class="needs-validation" novalidate action="{% url 'create-transfer' %}" method="POST">
         {% csrf_token %}
         <div class="row g-3">
           <div class="col-sm-12">
             <label for="iban_from" class="form-label">Konto</label>
             <select name="iban_from" id="iban_from" class="form-control">
               {% for account in accounts %}
               <option value="{{account.iban}}">{{ account.name }} : {{ account.iban }}</option>
               {% endfor %}
             </select>
           </div>
           <div class="col-12">
             <label for="username" class="form-label">Zielkonto</label>
             <div class="input-group">
               <input type="text" class="form-control" id="iban_to" name="iban_to" placeholder="DE82XXXXXXXXXXXX" required>
             <div class="invalid-feedback">
                 Your username is required.
               </div>
             </div>
           </div>
           <div class="col-12">
             <label for="amount" class="form-label"> Betrag in € </label>
             <input type="text" class="form-control" id="amount" name="amount" placeholder="24,23">
           </div>
           <div class="col-12">
             <label for="verwendungszweck" class="form-label">Verwendungszweck</label>
             <input type="text" class="form-control" id="verwendungszweck" name="verwendungszweck" placeholder="Miete für Januar">
           </div>
           <div class="col-12">
             <label for="address2" class="form-label">Verwendungszweck 2 <span class="text-muted">(Optional)</span></label>
             <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
           </div>
         <hr class="my-4">
         <div class="form-check">
           <input type="checkbox" class="form-check-input" id="Sofortüberweisung" name="Sofortüberweisung">
           <label class="form-check-label" for="Sofortüberweisung">Sofortüberweisung</label>
           <small class="text-muted">Es können weiter Kosten anfallen.</small>
         </div>
         <hr class="my-4">
         <button class="w-100 btn btn-primary btn-lg" id="action" type="submit">Überweisung durchführen</button>
       </form> -->
    {% if form is not None %}
      {% load crispy_forms_tags %}
      {% csrf_token %}
      <!--{% if errors is not None %}
               <div class="alert alert-danger" role="alert">{{errors|safe}}</div>
               {% endif %}-->
      {% crispy form %}
    {% endif %}
  </div>
</div>
{% endblock %}