{% extends "base.html" %}
{% load static %}
{% block title %}
        <div>
            <h3 class="float-md-start mb-0">Decode</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
              <a class="nav-link active" aria-current="page" href="/key/home">Encode</a>
            <!--  <a class="nav-link" href="#">das Spacing</a>
              <a class="nav-link" href="#">shit?</a>-->
            </nav>
        </div>

{% endblock %}
{% block content %}
         <h1>Error</h1>
        <p class="lead"> Der Code scheint nicht zu existieren

        <p></p>
        <a class="btn btn-lg btn-secondary fw-bold border-white bg-white" id="bbb" href="/key/decode" >Zurück zu Decode
        </a>
{% endblock %}

{% block script %}
{% endblock %}
